p,h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}

ol,ul{
    text-decoration:none;
    margin :0;
    padding : 0;
    list-style: none;
}

img{
    display: block;
}

.container { 
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
   


    }

body{
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;;
}

a{
    text-decoration:none;
}

/*---------- header-------- */
.header{
    border-bottom: 1px solid #e7e9fc;
}
.container-header{
    display: flex;
    align-items: center;
}

.logo-header{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px
    
}
.span-logo-header{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    padding: 24px 0 ;
}
/* ---------nav-------- */
.container-nav{
display: flex;
flex-grow: 1;
align-items: center;
}
.nav-list-item{
    padding: 24px 0 24px;
}
.nav-list{
    display: flex;
    gap: 40px;
    
    
}
.nav-list-link {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0 24px;
}
.nav-list-link:hover,
.nav-list-link:focus{
    color: #404bbf
} 

/*----------contacts---------- */
.address{
   font-style: normal;
}
.address-list{
display: flex;
gap: 40px;
}
.address-list-item-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    cursor:pointer;
}
.address-list-item-link:hover,
.address-list-item-link:focus {
    color: #404bbf;
}

/* ---------hero--------- */
.container-hero{
padding: 188px 472px;
}
.hero{
    background-color: #2e2f42;
    font-weight: 700;
    font-size: 56px;
    padding: 188px 0;
}
.hero-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center ;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.hero-btn{
    font-family: "Roboto", sans-serif;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
}
.hero-btn:hover{
  background-color: #404BBF;
}
.hero-btn:focus{
    background-color: #404BBF ;
    
}
/* ---------Our qualities-------- */
.qualities{
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.container-qualities{
padding-top: 120px;
padding-bottom: 120px;
}

.qualities-list{
    display: flex;
    gap: 24px;
}

.qualities-item{
width: calc((100% - 72px) / 4)
}

.qualities-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
   
}

.qualities-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.qualities-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ---------our team--------- */
.team{
    padding: 120px 0;
    background-color: #F4F4FD;
}

.container-team{
padding-top: 120px;
padding-bottom: 120px;

}
.container-team-item{
    padding: 32px 0;
}
.team-list{
display: flex;
gap: 24px;
width:calc ((100% - 3 * 24) / 4);

}
.team-list-item{
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    align-items: center;
    justify-content: center;
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42; 
    text-transform:capitalize;
    margin-bottom: 72px;
}

.team-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.team-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* --------------portfolio----------- */
.container-portfolio{
padding-top: 120px;
padding-bottom: 120px;

}
.container-portfolio-item{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}
.portfolio{
    
    padding: 120px 0 120px 0;
}
.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42; 
    text-transform: capitalize;
    margin-bottom: 72px
}

.portfolio-list{
 display: flex;  
 flex-wrap: wrap; 
 gap: 24px;
 justify-content: space-between;
 row-gap: 48px;
}  
.portfolio-list-item{
    background-color: #FFFFFF
    
}
.portfolio-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}

/* --------footer----------- */
.container-footer{


}

.footer{
    background: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}
.span-footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}
.footer-content{ 
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    
}
